
@{
    ViewData["Title"] = "Index";
}

<h1>會員中心</h1>
@* <img src="~/images/cat3.jpg" alt="avatar" /> *@
@* <img src="~/member/avatar/5" alt="avatar" /> *@
<p>登入帳號：@ViewData["name"]</p>
<p>使用者資料：@ViewData["userData"]</p>
<hr />
<a href="~/member/deleteSession">刪除Session</a>

