
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form novalidate>
    <input type="text" name="userName" required />
    <input type="email" name="userEmail" />
    <input type="tel" name"userPhone" placeholder="0911-222-333" pattern="09\d{2}-\d{3}-\d{3}" />
    <button>送出</button>
</form>

