@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles{
    <style>
        h1 {
            background-color: khaki;
        }
    </style>
}

<h1>@ViewData["Title"]</h1>

<p>這是一個 Privacy的View</p>
<hr />
@await Component.InvokeAsync("PopularProducts")
@await Component.InvokeAsync("PopularProducts", new {top=5})

<vc:popular-products top="10"></vc:popular-products>

<hr />
@await Component.InvokeAsync("First", new {count=5})
<vc:first count = "10"></vc:first>

<hr />

<partial name="_PartialView1" />
<partial name="_PartialView2" />
@await Html.PartialAsync("_PartialView1")

@section Scripts{
    <script>
        $('h1').on('mouseover',()=>{
            $('h1').css('color','green');
        }).on('mouseout',()=>{
            $('h1').css('color','black');
        })
    </script>
}

