
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload File</h1>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" name="formFile">
    </div>
    <button class="btn btn-primary">上傳</button>
</form>
<hr />
<p>@ViewBag.Message</p>


